<html>

	<head>
		<title>Poll: {{ poll.question }}</title>
	</head>
	
	<body>
		<h1>Poll: {{ poll.question }}</h1>
		<p>Date: {{ poll.pub_date|date:"r" }}</p>
		<p>Password: {{ poll.password }} (should not be visible)</p>
		<p>Choices:</p>
		<ol>
		{% for choice in poll.choice_set.all %}
			<li><a href="../../choices/{{ choice.id }}/">{{ choice }}</a></li>
		{% endfor %}
		</ol>
		
		<form action="." method="DELETE">
			<input type="submit" value="Remove poll" />
			<p><em>Needs a browser that supports DELETE or a Django
			    middleware that transforms DELETE into POST.</em></p>
		</form>
		
	</body>
	
</html>