<html>

	<head>
		<title>Language: {{ language.name }}</title>
	</head>
	
	<body>
		<h1>Language: {{ language.name }}</h1>
		<p>Code: {{ language.code }}</p>
		<p>Character Set : {{ language.charset }} </p>
		
		
		<form action="../" method="DELETE">
			<input type="submit" value="Remove Language" />
			<input type="hidden" value="{{ language.code }}"/>
			<p><em>Needs a browser that supports DELETE or a Django
			    middleware that transforms DELETE into POST.</em></p>
		</form>
		
	</body>
	
</html>
