{%  extends "base.html" %}
{% load pagination_tags %}
{% load agents_extras %}

{%  block title %}{{ title }}{% endblock %}

{%  block head %}{{ head }}{% endblock %}

{%  block content %}

<form method="GET" action="." enctype="multipart/form-data">
<table width=100%>
    <tr>
        <td>{{ form.fromday_chk.label }}</td>
        <td>{{ form.fromday_chk }}
            &nbsp;{{ form.from_day.label }}&nbsp;{{ form.from_day }}{{ form.from_month_year }}</td>
        <td>&nbsp;</td>
        <td>{{ form.today_chk }}
            &nbsp;{{ form.to_day.label }}&nbsp;{{ form.to_day }}{{ form.to_month_year }}</td>
    </tr>
    <tr>
        <td>{{ form.phone_no.label }}</td>
        <td>{{ form.phone_no }}</td>
        <td>&nbsp;</td>
        <td>{{ form.phone_no_type|removetags:"ul li"|safe }}</td>
    </tr>
    <tr>
        <td>{{ form.call_type.label }}</td>
        <td>{{ form.call_type }}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>OPTIONS</td>
        <td colspan=3>
            <table>
                <tr>
                    <td>{{form.show.label}}&nbsp;{{form.show|removetags:"ul li"|safe}}<td>
                </tr>
                <tr>
                    <td>{{form.result.label}}&nbsp;{{form.result|removetags:"ul li"|safe}}<td>
                </tr>
                <tr>
                    <td>{{form.currency.label}}&nbsp;{{ form.currency }}<td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td align=center colspan=4><input type="submit" value="Search" />&nbsp;<input type="reset" value="Clear"></td></tr>
</table>
</form>


<table width=100% border=1>
<tr><td align=center colspan=9>Number of Calls : {{ count }}</td></tr>
{% if calls %}
  <tr class="tr_class">
        <td>&nbsp;</td>
        <td>Date</td>
        <td>CallerID</td>
        <td>PhoneNumber</td>
        <td>Destination</td>
        <td>Duration</td>
        <td>TC</td>
        <td>CallType</td>
        <td>Cost</td>
  </tr>
  {% autopaginate calls 10 %}
  {% for call in calls %}
  <tr class="tr_class">
       <td>
           {{ forloop.counter|adjust_for_pagination:page  }}
       </td>
       <td>{{ call.starttime }}</td>
       <td>{{ call.src }}</td>
       <td>{{ call.calledstation }}</td>
       <td>
       {% ifnotequal call.destination 0 %}
          {{ call.destination.destination }}
       {% else %}
       &nbsp;
       {% endifnotequal %}
       </td>
       <td>{{ call.real_sessiontime|time_in_min:result }}</td>
       <td>
       {% for dialstatus in dial_status %}
            {% ifequal  dialstatus.0 call.terminatecauseid %}
                {{ dialstatus.1  }}
            {% endifequal %}
       {% endfor %}
       </td>
       <td>
       {% ifnotequal call.sipiax null %}
           {% for calltype in call_type %}
            {% ifequal  calltype.0 call.sipiax %}
                {{ calltype.1  }}
            {% endifequal %}
           {% endfor %}
       {% else %}
       &nbsp;
       {% endifnotequal %}
       </td>
       <td>
       {{ call.sessionbill|display_2bill:currency.value }}&nbsp;{{ currency.currency|upper  }}
       </td>
   </tr>
    {% endfor %}
   <tr><td colspan=9>
    {% paginate %}
    </td></tr>
{% else %}
  <tr><td align=center>No Record(s) found.</td></tr>
{% endif %}
</table>

{% endblock %}