{%  extends "base.html" %}
{%  block title %}{{ title }}{% endblock %}
{%  block head %}{{ head }}{% endblock %}
{%  block content %}
<form action="{{action_url}}" method="POST">
<table width=100% align=center border=0 class=table_class>
 <tr >
  <td colspan=2>
     Please confirm your order
  </td>
 </tr>
 <tr >
  <td align=center colspan=2>
      
    <table  align=center>
    <tr><td align=right>Payment Method:</td><td> {{ payment_method|upper }}</td></tr>
    <tr><td align=right>Amount: </td><td> {{ amount }}&nbsp;{{currency}}</td></tr>
    <tr><td align=right>VAT({{vat}}):</td><td> {{ vat_amount }}</td></tr>
    <tr><td align=right>Total Amount Incl. VAT:</td><td> {{ total_amt_incl_vat }}&nbsp;{{currency}}</td></tr>
    </table>

  </td>
 </tr>
 <tr>
   <td >
   {{form.as_table}}
   <strong>Please click button to confirm your order. </strong> </td><td ><input type=submit value="Confirm Order"/>
   </td>
 </tr>
</table>
</form>
{% endblock %}