{%  extends "base.html" %}
{%  block title %}{{ title }}{% endblock %}
{%  block head %}{{ head }}{% endblock %}
{%  block content %}
<table width=60% border=0 align=center>
<tr><td colspan=2 align=left><h2>Personal Information</h2></td></tr>
<tr><td colspan=2>
{% if error %}
<p><i>{{ error }}</i></p>
{% endif %}
</td></tr>

<tr><td colspan=2>
<form action="." method="POST">
{{ form.as_table }}
</td></tr>
<tr><td colspan=2 align=center>
<input type="submit" value="Update" />
</form>
</td></tr>
</table>
{% endblock %}